# Testing and code checking
pytest
python-ta~=2.4.2

# Additional packages to be installed for our project
nltk
spacy
PyQt6
pandas
numpy

# run these lines in the console:
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('wordnet')
# nltk.download('stopwords')
